@import "./modules/all"

// Base styles:
html
  font-size 18px
  line-height em(26)
  font-family "Helvetica Neue", Helvetica, sans-serif
  color #333
  background-color #444
  *
    -webkit-font-smoothing antialiased
    -moz-osx-font-smoothing grayscale
    -webkit-tap-highlight-color transparent

body
  margin 60px 0 0

// Section-specific styles:
@import "partials/all"
