.alert-overlay
  hostile-takeover(fixed)
  z-index 1000
  background-color rgba(0,0,0,0.8)

.alert-box
  background-color #eee
  width 80%
  max-width 600px
  margin 200px auto
  position relative
  padding 12px 8px
  border 4px solid #333
  border-radius 18px

.alert-close
  -webkit-appearance none
  border 4px solid #333
  box-sizing content-box
  padding 0
  width 24px
  height 24px
  border-radius 24px
  background-color #eee
  color transparent
  position absolute
  top -12px
  right -12px
  &::after
    content "×"
    color #333
