.left
  float left

.right
  float right

label
  font-size 12px
  font-weight bold
  text-transform uppercase
  color $gray
  .masthead &
    color #fff

input::-webkit-slider-thumb
  cursor pointer
